<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test30-05</title>
</head>
<body>

<!--таблица юзеров-->
<div class="container-fluid">

    <div class="d-flex justify-content-center">
        <div>
            <table class="table table-striped" id="mainTableWithUsers">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Job1</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--<script src="/webjars/jquery/3.6.0/jquery.js"></script>-->
<!--<script src="/webjars/popper.js/2.9.2/umd/popper.js"></script>-->
<!--<script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>-->

<!--30-05 подход независящий от версий-->
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
<!--<script src="/webjars/popper.js/2.9.2/umd/popper.js"></script>-->

<script src="/app_old.js" ></script>

</body>
</html>