<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users All</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Job</th>
            <th>Age</th>
        </tr>

        <tr th:each="user : ${users}">
            <td><div> <a th:href="@{/users/{id}(id=${user.getId()})}" th:utext="${user.getId()}"></a></div> </td>
            <td th:utext="${user.getName()}">count</td>
            <td th:utext="${user.getJob()}">size</td>
            <td th:utext="${user.getAge()}">even</td>
        </tr>
    </table>

    <br/>
    <hr/>
    <br/>
    <hr/>
    <a href="/logout">Logout</a>
</div>
</body>
</html>